body{
    background-color: #212122;
}
.HomeTitle h1{
	padding: 4%;
	-webkit-text-stroke: 1px #2fb6ff;
	font-size: 45px;
	text-shadow: 0 0 25px #2fb6ff;
}
.HomeTitle p{
	padding: 4%;
	text-align: right;
	font-size: 35px;
	-webkit-text-stroke: 1px #2fb6ff;
}
